h2 {
  color: #00ff41;
  font-size: 20px;
  font-family: arial;
}

body {
  background-color: #0a1628;
}

a {
  text-decoration: none;
}

.white-card {
  background: #1a3a52;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 255, 65, 0.15);
  margin: 5px auto;
  text-align: center;
  color: #e0e0e0;
}

.img-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.shadowed {
  box-shadow: 0 8px 20px rgba(0, 255, 65, 0.25);
}

.container {
  width: 500px;
  margin: 0 auto;
}

.btn-blue {
  background: linear-gradient(90deg, #001a4d, #00cc33);
  border-radius: 5px;
  color: white;
  padding: 8px 16px;
}

.btn-blue:hover {
  background: linear-gradient(90deg, #00264d, #00ff41);
}

i {
  color: #00ff41;
  font-size: 50px;
}

i:hover{
  color: #00ccff;
}

.list-inline > li{
  display: inline;
}

.list-inline {
  padding: 0;
}


@media (max-width: 960px) {

  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {

  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {

  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


